export ASSASSYN_HOME="$HOME/ACM/PPCA/CSA/assassyn"
export PYTHONPATH="$ASSASSYN_HOME/python${PYTHONPATH:+:$PYTHONPATH}"
export CARGO_TARGET_DIR="$ASSASSYN_HOME/.sim-runtime-cache"
export VERILATOR_ROOT="$ASSASSYN_HOME/3rd-party/verilator"

PATH_add "$ASSASSYN_HOME/3rd-party/verilator/bin"
PATH_add "$ASSASSYN_HOME/.assassyn-venv/bin"
